<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/libraries/bootstrap.min.css">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header class="header">
  <div>
    <div class="logo">
      <img src="/images/bus.jpg" alt="Logo">
      <span>FriendlyTrans</span>
    </div>
    <div class="go-green">Go Green</div>
    <div class="connector-line"></div>
    <button class="favorite">Favorite</button>
  </div>
  <div class="language-options">
    <img src="/images/Nl.png" alt="nl">
    <img src="/images/Eng.png" alt="Eng">


    <select id="language-select">
      <option value="en">English</option>
      <option value="nl">Netherlands</option>
    </select>
  </div>
</header>
</body>
</html>