<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(function() {
    $("#header-placeholder").load("header.html");
});
</script>

</head>
<body>

<!-- hier staat de code voor header-->
<div id="header-placeholder"></div>

<!-- hier worden andere codes toegevoegd-->

<form id="form" class="form">
    <div id="Vantext" class="Vantext">
        <label for="Van" >Van:</label>
        <input type="text" id="Van" class="van" name="Van">
    </div>
    <div id="Naartext" class="Naartext">
        <label for="naar">Naar:</label>
        <input type="text" class="naar" id="naar" name="naar">
    </div>
    <div class="Addtofavorites" id="Addtofavorites">
        <input type="submit" value="Voeg toe aan favorieten">
        <input type="submit" value="Plan reis">
    </div>
</form>
<ul class="rectangle" id="rectangle">
    <li class="Favoritejourney" id="Favoritejourney">
        <p class="FavoriteVan" id="FavoriteVan"> Van:</p>
        <p class="FavoriteNaar" id="FavoriteNaar">Naar:</p>
        <p class="FavoriteVoertuig" id="FavoriteVoertuig">Voertuig:</p>
    </li>
</ul>
</body>
</html>