<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link rel="stylesheet" href="/css/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="/css/libraries/info.css">
</head>

<body>

    <header class="header">
    </header>
    <form>
        <div class="input">
            <div class="gridItem"></div>
            <div class="gridItem">
                <select class="fromTo" >
                    <option value="Amersfoort">Amersfoort</option>
                    <option value="Amsterdam">Amsterdam</option>
                </select>
                <select class="fromTo">
                    <option value="Amsterdam">Amsterdam</option>
                </select>
            </div>
            <div class="transportTypeGridItem">
                <select id="transportType">
                    <option value="Trein">Trein</option>
                    <option value="Bus">Bus</option>
                </select>
            </div>
            <div class="gridItem"></div>
            <div class="gridSubmitRouteButton">
                <input class="submitRouteButton" type="submit" value="Reis plannen">
            </div>
            <div class="gridItem"></div>
        </div>
    </form>

<div class="route">
    <ul class="routeList">
        <li class="routeListItem">1</li>
        <li class="routeListItem">2</li>
        <li class="routeListItem">3</li>
        <li class="routeListItem">4</li>
        <li class="routeListItem">5</li>
        <li class="routeListItem">6</li>
        <li class="routeListItem">7</li>
        <li class="routeListItem">8</li>

    </ul>

</div>


<div class="info">
<input class="submitButtonInfo" type="submit" value="Reis plannen">
</div>


</body>
</html>