<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link rel="stylesheet" href="/css/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>

<!-- hieronder staat de header -->
    <div th:replace="fragments/header :: header"></div>

    <form action="#" th:action="@{/info}" th:object="${info}" method="post">
        <div class="input">
            <div class="gridItem"></div>
            <div class="gridItem">
                <p th:text="#{Van}" class="fromToText"></p>
                <select class="fromTo" th:field="*{inputA}">
                    <option value="Amersfoort">Amersfoort</option>
                    <option value="Amsterdam">Amsterdam</option>
                </select>
                <p th:text="#{Naar}" class="fromToText"></p>
                <select class="fromTo" th:field="*{inputB}">
                    <option value="Amsterdam">Amsterdam</option>
                </select>
            </div>
            <div class="transportTypeGridItem">
                <select id="transportType">
                    <option value="Trein" th:text="#{Trein}"></option>
                    <option value="Bus" th:text="#{Bus}"></option>
                </select>
            </div>
            <div class="gridItem"></div>
            <div class="gridSubmitRouteButton">
                <input class="submitRouteButton" type="submit" value="Reis plannen">
            </div>
            <div class="gridItem"></div>
        </div>
    </form>

    <div class="route">
        <ul class="routeList" th:each="trip: ${trips}">
            <li class="routeListItem">
                <div class="route-name" th:text="${trip.getNaam}">

                </div>
                <div class="route-time" th:text="#{Vertrektijd} + ': ' + ${#dates.format(#dates.createNow(), 'HH:mm')}">

                </div>
            </li>

<!--            <li class="routeListItem">2</li>-->
<!--            <li class="routeListItem">3</li>-->
<!--            <li class="routeListItem">4</li>-->
<!--            <li class="routeListItem">5</li>-->
<!--            <li class="routeListItem">6</li>-->
<!--            <li class="routeListItem">7</li>-->
<!--            <li class="routeListItem">8</li>-->
        </ul>

    </div>

    <div class="info">
        <div>
            <p th:text="#{Van} + ': '+ ${info.inputA}" />
            <p th:text="#{Naar} + ': '+ ${info.inputB}" />
            <p th:text="'test: '+ ${info.test}" />
        </div>
        <div class="ov2app-tooltip">
            <span th:text="#{AccommodatiesBekijken}"></span>

            <span class="ov2app-tooltipContent">
                    <!--            Accommodaties-->
                    <span><b>Accommodations</b></span>
                    <span class="ov2app-tooltipItem"
                          th:text="#{Vervoersmiddel} + ': ' + #{${recommendedTrip.accommodaties.getVervoersmiddel}}"></span>
                    <span class="ov2app-tooltipItem"
                          th:text="#{Treindelen} + ': ' + ${recommendedTrip.accommodaties.getTreinDelen}"></span>
                    <span class="ov2app-tooltipItem"
                          th:text="#{Handicaptoegankelijk} + ': ' + #{${recommendedTrip.accommodaties.getHandicapToegankelijk}}"></span>
                    <span class="ov2app-tooltipItem"
                          th:text="#{Toilet} + ': ' + #{${recommendedTrip.accommodaties.getToilet}}"></span>
                    <span class="ov2app-tooltipItem"
                          th:text="#{Handicaptoilet} + ': ' + #{${recommendedTrip.accommodaties.getHandicapToilet}}"></span>
                    <span class="ov2app-tooltipItem"
                          th:text="#{Wifi} + ': ' + #{${recommendedTrip.accommodaties.getWifi}}"></span>
                </span>
        </div>

        <input class="submitButtonInfo" type="submit" value="Reis plannen">
    </div>
    <script src="/javascript/SelectLang.js"></script>
</body>
</html>