<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link rel="stylesheet" href="/css/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="/css/libraries/info.css">
</head>

<body>

    <header class="header">
    <p>test</p>
    <p>test2</p>
    </header>

<div class="input">
    <div class="divfromto">
       <p>Selecteer uw stations</p>
        <br>
        <select class="fromto">
            <option value="Amersfoort"></option>
        </select>
        <select class="fromto">
            <option value="Amsterdam"></option>
        </select>
    </div>
</div>
<div class="route">route</div>
<div class="info">info</div>


</body>
</html>