
/* General style */
/*body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}*/

/* Header style */
.header {
  background-color: #f2f2f2;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 20vh;
}

/* Logo style */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #3b8345;
  font-family: "Segoe Script", cursive;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 15vh;
  margin-right: 10px;
}

/* "Go Green" style */
.go-green {
  font-size: 18px;
  color: #3b8345;
  font-family: Arial, sans-serif;
  margin-left: 10px;
}


/* Language options style */
.language-options {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.language-options img {
  height: 20px;
  margin-right: 5px;
}

.language-options select {
  padding: 4px 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}

body{
    background: url("BlueSky.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.rectangle{
     width: 1800px;
        height: 1000px;
        position: absolute;
        top: 33%;
        left: 6%;
        line-height: 100px;
       /* background: #90EE90;*/
        font-family: "Times New Roman", serif;
        font-size: 18px;
}

.rectangle .Favoritejourney{
    width: 1200px;
    height: 200px;
    top: 10%;
    left: 10%;
    background: aliceblue;
    position: absolute;
    text-align: center;
}

.Favoritejourney .FavoriteVan{
    top: 5%;
    left: 10%;
    position: absolute;
    font-size: 32px;
    font-family: "Times New Roman", serif;
}
.Favoritejourney .FavoriteNaar{
    top: 5%;
    left: 50%;
    position: absolute;
    font-size: 32px;
    font-family: "Times New Roman", serif;
}
.Favoritejourney .FavoriteVoertuig{
    top: 25%;
    left: 10%;
    position: absolute;
    font-size: 32px;
    font-family: "Times New Roman", serif;
}
.form{

      width: 100%;
      height: 40vh;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      background: #90EE90;
      font-family: "Times New Roman", serif;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

}
.form .Vantext{
    top: 10%;
    left: 18%;
    font-size: 32px;
    position: absolute;

}
.form .van{
    height: 32px;
}

.form .Naartext{
    top: 10%;
    left: 50%;
    font-size: 32px;
    position: absolute;

}
.form .naar{
    height: 32px;
}

.form .submits{
    top: 50%;
    left: 50%;
}
.Addtofavorites{

    height: 15px;
    line-height: 32px;
    font-size: 32px;
    position: absolute;
}
.form .submits .PlanReis{
    height: 15px;
    font-size: 32px;
    position: absolute;
}

.favorites{
height: 40vh;
width: 100%;
position: fixed;
bottom: 0;
}

.favorites_ul{
    list-style-type: none;
}

.inputindex{
    background: white;
    height: 40vh;
    background: #90EE90;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
}


.input{
    height: 25vh;
    background: #90EE90;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
}

.gridItem {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transportTypeGridItem {
  font-size: 17px;
  display: flex;
  align-items: center;
}

.gridSubmitRouteButton{
  font-size: 17px;
  display: flex;
  justify-content: right;
}

.submitRouteButton{
    margin: 0px 3px 0px 0px;
    width: 30%;
    height: 27px;
    font-size: 80%;
}

#addFavourite{
    margin: 0px 3px 0px 0px;
    width: 30%;
    height: 27px;
    font-size: 80%;
}

.divFromTo{
text-align: center;
}

.fromTo{
width: 100%;
margin: 0px 3px 0px 3px;
}

.fromToText{
text-align: center;
margin: 0px 3px 0px 3px;
}

.input .transportType{
    width: 5%;
    text-align: left;
}

.route{
    position: fixed;
    bottom: 0;
    height: 55vh;
    width: 40%;
    background: #49cdfd;
}

.route .routeList{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
}

.route .routeListItem{
    position: relative;
    border-style: solid;
    padding: 0% 0% 1% 0%;
    background: #eee;
    height: 22vh;
}


.route-timeOfArrival{
    float: right;
}

.info{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 55vh;
    width: 60%;
    background: #49cdfd;
}

.info .submitButtonInfo{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0% 2.5% 2.5% 0%;
}

.groenereis{
    display: inline-block;
    position: absolute;
    border: solid;
    border-radius: 10px;
    color: green;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 2px 2px;
    left: 0;
    bottom:0;
}

.groenereistext{
margin-bottom: 1px;
font-size: 1vw;
}

/*Start of Tooltip*/

/* Tooltip container */
.ov2app-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.ov2app-tooltip .ov2app-tooltipContent {
  visibility: hidden;
  width: 240px;
  background-color: white;
  opacity: 0.7;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ov2app-tooltip:hover .ov2app-tooltipContent {
  visibility: visible;
}

.ov2app-tooltipItem{
    padding-left: 10px;
    text-align: left;

    /*This enters a linebreak after every line*/
    content: "";
    display: block;
}
/*End of Tooltip*/